.addmovie-modal {
    background-color: hsla(210, 10%, 14%, 0.8);
    background-image:
    radial-gradient(at 62% 32%, hsla(227, 97%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 57%, hsla(166, 55%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 88%, hsla(299, 74%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 51%, hsla(237, 86%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 32%, hsla(290, 86%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 63%, hsla(83, 74%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 50%, hsla(57, 90%, 66%, 1) 0px, transparent 50%);
    padding: 2rem;
}

.addmovie-modal-poster {
    position: absolute;
    max-width: 50vh;
    left: 5%;
    width: 25%; /* Adjust as needed */
    top: 50%; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically */
    z-index: 9999;
}