.promocodes-modal {
    background-color: hsla(210, 10%, 14%, 0.8);
    background-image:
    radial-gradient(at 62% 32%, hsla(227, 97%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 57%, hsla(166, 55%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 3% 88%, hsla(299, 74%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 51%, hsla(237, 86%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 1% 32%, hsla(290, 86%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 63%, hsla(83, 74%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 50%, hsla(57, 90%, 66%, 1) 0px, transparent 50%);
    padding: 2rem;
}

.card-promo {
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

.card-promo-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-code {
    flex: 1 1 auto;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.promo-split {
    margin: 0 10px;
    border-right: 2px dotted #ccc;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.promo-cards {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;       
    justify-content: space-around; 
}

.promo-card {
    flex: 0 1 calc(33% - 20px); 
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: rgb(51, 53, 54);
    border-radius: 10px;
    border: 5px dashed #212529; 
    overflow: hidden;
    position: relative;
}

.promo-discount {
    font-size: 20px;
    font-weight: bold;
    background-color: #DC3545;
    color: white;
    padding: 10px 20px;
    writing-mode: horizontal-tb;
    text-orientation: upright;
    transform: rotate(-90deg); 
}

.promo-info {
    padding: 10px 20px;
    flex-grow: 1; /* Allows the info area to fill the remaining space */
}

.promo-btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
